<!DOCTYPE html>
<html lang="th"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>สร้างงานใหม่</title>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/teacher_job_new.css">
</head>
<body>
  <div class="navbar">
    <div class="logo">VolunteeU</div>
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/teacher/jobs" class="active" style="font-weight: bold;">Posts</a>
        <a th:href="@{/teacher/applicant}">Applicant</a>
        <a th:href="@{/teacher/interview}">Interview</a>
        <a th:href="@{/teacher/final}">Final</a>
      <a href="/profile">Profile</a>
      
    </div>
  </div>

<div class="main-content">
    <h2>Create new post</h2>

    <form method="post" th:action="@{/teacher/jobs}" enctype="multipart/form-data">
      <input type="hidden" th:name="${_csrf.parameterName}" value="${_csrf.token}" />

    <div class = "grid-box">
      <div class="job-bigbox">
        <div class="job-name">
          <h3>กรอกรายละเอียด</h3><br/>
          <label>ชื่องาน</label><br/>
          <input type="text" placeholder="ชื่องาน" name="title" required/>
        </div>

        <div class="job-desc">
          <label>รายละเอียด</label><br/>
          <textarea name="description" placeholder="รายละเอียดงาน" required></textarea>
        </div>

         <div class="job-quiz">
          <label>Skill ที่ต้องการในแต่ละฝ่าย</label><br/>
          <textarea name="requiredSkill" placeholder="ทักษะที่ต้องการในแต่ละฝ่าย" required></textarea>
        </div>
      </div>

        <div class="upload-n-date">
          <label for="image-upload">
            <div class="job-img">
              <div class="preview-area">
                <img id="preview-image" src="/image/pic.png" alt="Preview">
              </div>
              <div class="imgs-text">อัปโหลดรูปภาพงาน</div>
              <input type="file" id="image-upload" name="image" accept="image/*" style="display: none;"/>
            </div>
          </label>
        
          <div class="job-date">
              <div class="date-text">วันที่เปิดรับสมัคร</div>
                <div class="date-row">
                  <input type="date" name="openDate" required/><br/>
                </div>
          <hr style="border: none; border-top: 1px solid #929292; margin: 15px 0;">
              <div class="date-text">วันที่ปิดรับสมัคร</div>
                <div class="date-row">
                  <input type="date" name="closeDate" required/></br>
                </div>
          </div>
        </div>
    </div>
 
  <div class="grid-box-second">
    <div class="new-quiz">
      <div class="job-question-section">
        <div class="question-header">
          <h3>คำถามสำหรับผู้สมัคร</h3>
          
        </div>

        <div id="questionList"></div>
        <div id="hiddenInputs"></div>
      </div>

        <div class="modal-overlay" id="questionModal">
          <div class="modal">
            <button type="button" class="close-btn" onclick="closeQuestionModal()">×</button>
            <h2>เพิ่มคำถามใหม่ (ข้อมูลส่วนตัว)</h2>
            <textarea id="questionInput" placeholder="ใส่คำถาม...."></textarea>
            <button type="button" class="save-btn-newquiz" onclick="saveQuestion()">บันทึก</button>
          </div>
        </div>
        <button type="button" class="add-question-btn" onclick="openQuestionModal()" style="margin-top:5px;">+ เพิ่มคำถามใหม่</button>
    </div>

    <div class="new-department">
      <div class="job-department">
        <h3>ฝ่ายที่ต้องการ</h3>
        <div id="departmentContainer">
          <input type="text" name="departments" placeholder="เช่น ฝ่ายต้อนรับ"/>
        </div>
        <button type="button" onclick="addDepartment()" style="margin-top:5px;">+ เพิ่มฝ่าย</button>
      </div>
    </div>
  </div>
 
      <div class="savenback-btn">
        <div class="save-btn">
          <button type="submit" class="job-save">Post</button>
        </div>
        <div class="back-btn">
          <a href="/teacher/jobs" class="job-back">Cancel</a>
        </div>
      </div>
    </form>
</div>

  <div class="footer">
    © 2025 VolunteeU — Software Project Recruitment
  </div>

  <script>

    document.getElementById("image-upload").addEventListener("change", function () {
    const file = this.files[0];
    const imgPreview = document.getElementById("preview-image");
    if (!file) return;

    if (!file.type.startsWith("image/")) {
        alert("กรุณาเลือกไฟล์รูปภาพเท่านั้น");
        this.value = "";
        return;
    }

    imgPreview.src = URL.createObjectURL(file);
  }
  );

  let modal = document.getElementById("questionModal");
  let questionInput = document.getElementById("questionInput");
  let questionList = document.getElementById("questionList");
  let hiddenInputs = document.getElementById("hiddenInputs");

  function openQuestionModal() {
    modal.style.display = "flex";
    questionInput.value = "";
  }

  function closeQuestionModal() {
    modal.style.display = "none";
  }  

  function saveQuestion() {
    const text = questionInput.value.trim();
    if (!text) {
      alert("กรุณากรอกคำถามก่อนบันทึก");
      return;
    }

    const item = document.createElement("div");
    item.className = "question-item";
    item.textContent = text;
    questionList.appendChild(item);

    const hidden = document.createElement("input");
    hidden.type = "hidden";
    hidden.name = "questions";
    hidden.value = text;
    hiddenInputs.appendChild(hidden);

    closeQuestionModal();
  }

  window.onclick = function(event) {
    if (event.target === modal) {
      closeQuestionModal();
    }
  }

  function addDepartment() {
  const container = document.getElementById("departmentContainer");
  const input = document.createElement("input");
  input.type = "text";
  input.name = "departments";
  input.placeholder = "เพิ่มฝ่ายอื่น ๆ";
  container.appendChild(input);
  }
</script>

 <script src="https://unpkg.com/lucide@latest"></script>
    <div th:if="${popupMsg}" class="popup-overlay">
        <div class="popup-box">
            <div class="popup-icon-wrapper">
                <div class="popup-icon-square">
                    <i data-lucide="square-check-big"></i>
                </div>
            </div>
            <h2 th:text="${popupMsg}" style="color:#A3062C;">Your Post has been published!</h2>
            <button onclick="closePopup()">OK</button>
        </div>
    </div>  

    <script>
        lucide.createIcons();
    </script>

    <script>
        function closePopup() {
            document.querySelector('.popup-overlay').style.display = 'none';
        }
    </script>

</body>
</html>
