<!DOCTYPE html>
<html lang="th" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>ดูรายชื่อผู้สมัคร</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="navbar">
    <div class="logo">VolunteeU</div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/teacher/jobs">Posts</a>
        <a href="/teacher/applicant" class="active" style="font-weight: bold;">Applicants</a>
        <a href="/teacher/interview">Interview</a>
        <a href="/teacher/final">Final</a>
        <a href="/profile">Profile</a>
        
    </div>
</div>

<div class="main-content">
        <div class="finalstafflist-page-header">
        Final staff lists
    </div>
    

    <div class="container"> 
      <div class="application-list" th:if="${apps != null and !apps.isEmpty()}">
                <div class="application-card" th:each="a : ${apps}">
                    <div class="application-details">
                        รายชื่อผู้สมัคร Staff งาน <span th:text="${job.title}">งานรับเพื่อนใหม่</span>
                    </div>

                    <!-- ปุ่ม -->
                    <div class="status-container">
                        <a th:href="@{|/teacher/final/${job.id}|}" class="details-link-s">></a>
                    </div>            
                </div>
                <!-- กรณีไม่มีงานที่สร้าง -->
                <div class="no-applications" th:if="${jobs == null or #lists.isEmpty(jobs)}">
                    <p>ยังไม่มีงานที่คุณสร้าง หรือยังไม่มีผู้ผ่านการคัดเลือกเป็น staff.</p>
                </div>


        </div>
    </div>
</div>

<div class="footer">
    © 2025 VolunteeU — Software Project Recruitment
</div>
</body>
</html>