<!DOCTYPE html>
<html lang="th" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>ดูรายชื่อผู้สมัคร</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="navbar">
    <div class="logo">VolunteeU</div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/teacher/jobs">Posts</a>
        <a href="/teacher/applicant" class="active" style="font-weight: bold;">Applicants</a>
        <a href="/teacher/interview">Interview</a>
        <a href="/teacher/final">Final</a>
        <a href="/profile">Profile</a>
        
    </div>
</div>

<div class="main-content">
    <h2>Applicant</h2>
    <h3 class="section-title">In progress</h3>

    <div class="job-list">
      <div th:if="${#lists.isEmpty(jobs)}">
        <p>ยังไม่มีโพสต์ที่สร้างไว้</p>
      </div>

      <div th:each="job : ${jobs}" class="job-card">
        <a th:href="@{|/teacher/applicants/${job.id}|}" class="job-link">
          รายชื่อผู้สมัครงาน <span th:text="${job.title}"></span>
        </a>
      </div>
    </div>
</div>

<div class="footer">
    © 2025 VolunteeU — Software Project Recruitment
</div>
</body>
</html>
